{% extends 'base.html' %}

{% block body %}
    <br><br><br>
      <div class="site-section" id="schedule-section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-8  section-heading">

            <h2 class="heading mb-3">You already have a Trainer, Do you wish to Hire a new one?</h2>

          </div>
        </div>
      </div>
      </div>

        <div class="row ">
          <div class="col-12">
            <ul class="nav days d-flex " role="tablist">
              <li class="nav-item item_center">
                <a class="nav-link"  href="{{ url_for('pupil.remove_trainer') }}"
                  aria-selected="true">Yes</a>
              </li>
              <li class="nav-item item_beside">
                <a class="nav-lin "  href="{{ url_for('pupil.my_program') }}"
                  aria-selected="false">No</a>
              </li>


            </ul>
          </div>
          </div>




{% endblock %}