{% extends 'base.html' %}

{% block body %}
    <br><br><br>


{% if pupil.workout_id %}
    <section class="container">
      <div class="grid-container">
        <!-- row -->
            {% if workout.day1 %}
                <div class="card">
          <h4>day1</h4>
          <p>{{ workout.day1 }}</p>
                </div>
            {% endif %}

        {% if workout.day2 %}
            <div class="card">
          <h4>day2</h4>
          <p>{{ workout.day2 }}</p>
            </div>
            {% endif %}

        {% if workout.day3 %}
            <div class="card">
          <h4>day3</h4>
          <p>{{ workout.day3 }}
          </p>
            </div>
            {% endif %}
        {% if workout.day4 %}
<div class="card">
          <h4>day4</h4>
          <p>{{ workout.day4 }}</p>
            </div>
            {% endif %}
        {% if workout.day5 %}
<div class="card">
          <h4>day5</h4>
          <p>{{ workout.day5 }}
          </p>
            </div>
            {% endif %}
        {% if workout.day6 %}
<div class="card">
          <h4>6</h4>
          <p>{{ workout.day6 }}</p>
            </div>
            {% endif %}
        </div>
    {% if workout.day7 %}
<div class="card">
          <h4>6</h4>
          <p>{{ workout.day7 }}</p>
            </div>
            {% endif %}

      </div>
    </section>

    <section class="container">
      <div class="grid-container">
        <!-- row -->

        <div class="card">
          <h4>Diet</h4>
          <p>{{ diet.food }}</p>


        </div>


      </div>
    </section>

    {% elif pupil.trainer_id and pupil.workout_id == None %}
    <h2>Your Program is not ready yet, your trainer will have it ready as soon as possible</h2>
    {% else  %}
    <br><br><br>
      <div class="site-section" id="schedule-section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-8  section-heading">

            <h2 class="heading mb-3">You Dont have a trainer yet</h2>
              <h2><a href="{{url_for('trainer.show_trainers')}}">Click here to hire one</a></h2>

          </div>
        </div>
      </div>
      </div>

{% endif %}
<script src="../static/main.js"></script>

{% endblock %}

