{% extends 'base.html' %}



{% block content %}

<link rel="stylesheet" href="../../../static/style.css">

{% endblock %}

{% block image %}
<img src="../../../static/img_1.png" alt="" width="30" height="24" class="d-inline-block align-text-top">Athlead</a>
{% endblock %}

{%  block body %}


    {{ current_user.username }}
    <form action="" method="post">

    {{ form.hidden_tag() }}
        <br>
        {{ form.age.label }}
    {{ form.age() }} <br>
        {{ form.height.label }}
    {{ form.height() }} <br>
        {{ form.weight.label }}
    {{ form.weight() }} <br>
        {{ form.health.label }}
    {{ form.health() }} <br>
        {{ form.purpose.label }}
    {{ form.purpose() }} <br>
        <hr>

    {{ form.submit }}


    </form>
{%  endblock %}