{% extends 'base.html' %}

{% block body %}

    <br><br>

    {% with messages = get_flashed_messages() %}
   {%  if message %}
            {{ message[0] }}
    {% endif %}
    {% endwith %}
    <div class="site-section" id="trainer-section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5" data-aos="fade-up">
          <div class="col-md-8  section-heading">

            <h2 class="heading mb-3">Your pupils</h2>

          </div>
        </div>

        <div class="row">
            {% for item in pupils %}
          <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center" data-aos="fade-up" data-aos-delay="">
            <div class="person">
              {% if item.has_pic %}
              <img src="../../../static/uploads/{{ item.name }}.png" alt="Image" class="img-fluid">
                {% else %}
                <img src="../../../static/img_1.png" alt="Image" class="img-fluid">
                {% endif %}
              <h3>{{ item.name}}</h3>
                {% if item.workout_id %}
              <h4>Has a Program</h4>
                {% else %}
                <h4 class="text-danger">New Pupil!</h4>
                {% endif %}
            </div>
          </div>
        {% endfor %}

        </div>
      </div>
    </div>



<div class="row justify-content-center">
          <div class="col-md-7">
            <form method="post" data-aos="fade">
              <div class="form-group row">

                <label for="validationDefault04" class="form-label">Choose a pupil to write a Program</label>
    <select class="form-control"  name="Chosen_pupil" required>
      <option selected disabled value="" >Choose...</option>
        {% for item in pupils %}
      <option>{{ item.name }}</option>
      {%  endfor %}
        <div class="form-group row">
                <div class="col-md-6">


                  <input type="submit" class="btn btn-primary py-3 px-5 btn-block" value="Submit">
                </div>
                </div>
    </select>
                </div>
            </form>

          </div>
        </div>
      </div>
    </div>

{% endblock %}

