{% extends 'base.html' %}

{% block body %}

<h1>your pupils go here</h1>

   <section class="container">
      <div class="grid-container">
        <!-- row -->
          {% for item in pupils %}
        <div class="card">
          <p>{{item.name}}</p>
          <p>age</p>
          <img src="../../../static/img_1.png" alt="" width="150" height="100" class="d-inline-block align-text-top" alt="Ellipse" />
          <div class="tags-container">

            <div class="tag"><a type="button" class="btn text-light" href="#">Hire Trainer</a></div>

          </div>

        </div>

          {% endfor %}
      </div>
    </section>

    <form action="#" method="post">
    <div class="col-md-3">
    <label for="validationDefault04" class="form-label">Choose a Pupil you want to write a program for</label>
    <select class="form-select" id="validationDefault04" name="Chosen_pupil" required>
      <option selected disabled value="" >Choose...</option>
        {% for item in pupils %}
      <option>{{ item.name }}</option>
      {%  endfor %}
        <br>


    </select>
    <div class="col-md-12">

        <input type="submit" value="Submit">
    </div>
    </div>
    </form>
{% endblock %}

