{% extends 'base.html' %}


{% block body %}

    {{ pupil.name }}
    <hr>

{{ parameter.age }}<br>
{{ parameter.height }}<br>
{{ parameter.weight }}<br>
{{ parameter.health }}<br>
{{ parameter.purpose }}<br>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">

        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                    {% for n in range(parameter.days) %}
                        <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Workouts</h4>
                        <h5 class="text-right">day N{{ n + 1 }}</h5>
                </div>

                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Name</label>
                    {{ form.day(class="form-control", id="exampleFormControlTextarea1", rows="6") }}</div>
                </div>

                        <hr>
                {% endfor %}



            </div>
        </div>

        <div class="col-md-4">
            <div class="p-3 py-5">

                <div class="d-flex justify-content-between align-items-center experience"><span><h4 class="text-right">Diet</h4></span></div><br>
                <div class="col-md-12"><label class="labels"></label><textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea></div> <br>


            </div>

        </div>
    </div>
</div>
</div>
</div>


            </div>
            </div>
            </div>
            </div>

    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button>
                    </div>



{%  endblock %}