{%  extends 'base.html' %}
{% block body %}
<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Log Into <br />
            <span class="text-primary">Your Profile</span>
          </h1>

        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form method="POST">
                  {%   with message = get_flashed_messages() %}
        {%  if message %}
            {{ message[0] }}
        {% endif %}
    {% endwith %}
    <br>
    {{ form.hidden_tag() }}
                <!-- 2 column grid layout with text inputs for the first and last names -->


                <!-- Email input -->
                <div class="form-outline mb-4">

                    {{ form.email(type="email", class="form-control") }}
                  <label class="form-label" >Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">

                    {{ form.password(type="password", class="form-control") }}
                  <label class="form-label">Password</label>
                </div>




              <div class="d-grid gap-2 col-6 mx-auto">

                    {{ form.submit(type="submit",  class="btn btn-primary btn-block mb-4") }}



{##}
                 <p class="mx-auto">or sign up with:</p>
                    <a href="{{ url_for('users_blueprint.user_register') }}" class="btn btn-primary btn-block mb-4">Sign Up</a>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

{% endblock %}