{% extends 'base.html' %}
{% block body %}

{{ current_user.role }}<br>
{{ current_user.username }}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{current_user.username}}</span><span class="text-black-50">{{ current_user.email }}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Update Profile</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Username</label><input type="text" class="form-control" placeholder="{{ current_user.username }}" value=""></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="{{ current_user.email }}" value=""></div>

                {% if current_user.role =='pupil' %}
                    <div class="col-md-12"><label class="labels">Age</label><input type="text" class="form-control" placeholder="{{ parameter.age }}" value=""></div>
                    <div class="col-md-12"><label class="labels">Height</label><input type="text" class="form-control" placeholder="{{ parameter.height }}" value=""></div>
                    <div class="col-md-12"><label class="labels">Weight</label><input type="text" class="form-control" placeholder="{{ parameter.weight }}" value=""></div>
                    <div class="col-md-12"><label class="labels">Health Condition</label><input type="text" class="form-control" placeholder="{{ parameter.health }}" value=""></div>
                    <div class="col-md-12"><label class="labels">Purpose</label><input type="text" class="form-control" placeholder="{{ parameter.purpose }}" value=""></div>
{#                    <div class="col-md-12"><label class="labels">Trainer</label><input type="text" class="form-control" placeholder="{{ pupil.trainer.name }}" value=""></div>#}
                {% endif %}
                </div>

                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button>
                    <a type="button" class="btn btn-primary profile-button text-danger" href="{{ url_for('users_blueprint.user_logout') }}">logout</a></div>
            </div>
        </div>

    </div>
</div>
</div>
</div>




{% endblock %}